*{
    margin:0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{
    background: #222;
}

.div{
    width: 90%;
    max-width: 478px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.search input{
    border:0; 
    outline: 0; 
    background: #ebfffc;
    color:#555; 
    padding: 10px 25px;
    height: 60px; 
    border-radius: 30px;
    flex:1; 
    margin-right: 16px;
    font-size: 18px;

}

.search button{
    border: 0; 
    outline: 0;
    background: #ebfffc;
    height: 50px; 
    width: 80px; 
    border-radius: 10px;
    font-size: 18px;
    color:#555; 

}

.weather, .icon {
    margin-top: 30px;
}

.name, .temperature, .description {
    margin-bottom: 10px;
}

.name{
    font-size: 50px;
margin-bottom: 20px;
}

img{
width: 50%;

}

.temperature{
    font-size: 30px;
}

.description{
    font-size: 20px;
}

